<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#TITLE#</title>
	<meta name="GENERATOR" content="BibleTime - www.bibletime.info" />
	<meta name="AUTHOR" content="BibleTime - www.bibletime.info" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style type="text/css">
	/* <![CDATA[ */

* { 
	/* To work around a KDE 3.2 bug / problem */
	background-color:inherit;
}

#content {
	background-color:transparent;
	margin:10px;
}
#content > table {
	margin: 0;
	padding: 0;
	border-spacing:10px;
	vertical-align:top;
}
#content > table th {
	padding: 0 0 2px 0;
	text-align: center; 
	font-weight: bold;
	font-size: 110%;
	border-bottom: 1px solid #6B6B6B;
}

a {
	text-decoration:none;
	font-weight:normal;
	color: #3B11AE;
	padding:2px;
}
a:hover {
	background-color:#F6FFF7;
	color: #AE1518;
	padding:2px;
}


/* Settings which apply to all entries in all modules */
.entry {
	padding: 4px;
	vertical-align: middle;
	text-align: justify;
}
#printer .entry {
	font-size:90%;
	text-align:left;
}
.entry[dir=rtl] {
	text-align:right;
}
#printer .entry[dir=rtl] {
	text-align:right;
}
div.entry, td.entry {
	vertical-align:top;	
}

/* Keep the values the same as in .entry (take the border into account!) */
.currententry {
	padding:4px;
	vertical-align:middle;
	text-align:justify;
}
.currententry[dir=rtl] {
	text-align:right;
}
div.currententry {
}
span.currententry {
	background-color: #EDEFFF;
}


/* Space between the columns of modules displayed side by side */
td.entry + td.entry { 
	margin-left: 5px;
}

/* Several additional settings for display of modules*/
#bible div.currententry, #bible td.currententry {
	border:1px solid #B7B7B7;
	padding: 4px;
	background-color: #EDEFFF;
}
#bible td.currententry {
	vertical-align:top;
}

/*
#bible span.currententry {
	background-color:#EDEFFF;
}*/

/*Same for books!*/
#book div.currententry, #book td.currententry {
	border:1px solid #B7B7B7;
	background-color:#EDEFFF;
}
/*
#book span.currententry {
	background-color:#DADEFF;
}*/


.entryname {
	font-size:70%;
	padding:0 2px 0 0;
	vertical-align:top;
}
.entry[dir=rtl] .entryname, .currententry[dir=rtl] .entryname {
	padding: 0 0 0 2px;
	font-size: 70%;
	vertical-align: top;
}
.entryname a, #printer .entryname  {
	vertical-align: middle
	font-size: 80%;
}

#printer .entry  .entry, #printer .entry .sectiontitle , #printer .entry .booktitle {
	padding-top: 0.05em;
	margin-left: 10px;
}

.footnotepre {
	color: gray;
	font-size: 0.9em;
	font-style: italic;
}
.footnote {
	vertical-align: top;
	font-weight: bold;
	color: black;
	color: blue;
	font-size: 80%;
}
.crossreference {
	font-size: 80%;
	/*vertical-align:middle;*/
	color: blue;
}

.strongnumber {
	vertical-align: top;
	font-size: 50%;
	color: gray;
}
.morphcode {
	vertical-align: top;
	font-size: 60%;
	color: gray;
}
.lemma {
}
.strongnumber:hover, .morphcode:hover {
	color: darkRed;
}

.sectiontitle {
	font-weight: bold;
	font-size: 110%;
}
#printer .sectiontitle {
	font-weight: bold;
	font-size: 100%;
}
* + .sectiontitle {
	margin-top:15px;
}

.booktitle {
	font-weight: bold;
	font-size: 120%;
	font-variant: small-caps;
}
#printer .booktitle {
	font-weight: bold;
	font-size: 120%;
	font-variant: small-caps;
}
.foreign {
}
.jesuswords {
	color:#9C2323;
	font-size:0.9em;
}

.quotation {
}
.poetry {
}
.sup {
	vertical-align: super;
}
.sub {
	vertical-align: sub;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

.bold {
	font-weight:bold;
}
.illuminated {
}
.italic {
	font-style:italic;
}
.line-through {
}
.normal {
}
.small-caps{
}
.underline {
	font-style:underline;
}

.inscription {
}
.mentioned {
}
.name > .geographic {
}
.name > .holiday {
}
.name > .nonhuman {
}
.name > .person {
}
.name > .ritual {
}
.name > .divine {
}

.transchange { 
	font-style:italic; 
}
.transchange > .added {
	background-color:inherit;
}
.transchange > .amplified {	
}
.transchange > .changed {	
}
.transchange > .deleted {
}
.transchange > .moved {
}
.transchange > .tenseChange {
}

#infodisplay {
	margin:0;
	padding:0;
}

#infodisplay .footnoteinfo h3, #infodisplay .strongsinfo h3, #infodisplay .morphinfo h3, #infodisplay .translationinfo h3, #infodisplay .crossrefinfo h3 {
	padding:4px 4px 2px 0;
	color:darkGrey;
	font-weight:bold;
	border-bottom:1px solid grey;
	font-size:90%;
}

#infodisplay > p, #infodisplay * > p { /* We only format the first p child in a special way */
	font-size:80%;
	text-align:justify;
	color:black;
	margin:0px;
	padding:0px;
}

/*Required for cross references*/
#infodisplay .entry {
	padding:2px;
	text-align:justify;
	font-size:80%;
	margin-bottom:10px;
	margin-left:15px;
}
#infodisplay .entry .entry { /*No smaller font size for nested entries*/
	font-size:100%;
	margin:0px;
}
#infodisplay .entryname {
	padding:2px;
	margin:0px;
	text-align:left;
	font-weight:bold;	
	font-size:90%;
}

#infodisplay .rangeheading {
	color:black;
	font-weight:bold;
	margin-left:-10px;
}

#printer .rangeheading {
	border-bottom:1px solid black;
	color:black;
}

#LANG_CSS#

	/* ]]> */
	</style>
</head>

<body id="#DISPLAYTYPE#">
	<div id="content" lang="#LANG_ABBREV#" xml:lang="#LANG_ABBREV#">#CONTENT#</div>
</body>
</html>