<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#TITLE#</title>
	<meta name="GENERATOR" content="BibleTime " VERSION "" />
	<meta name="AUTHOR" content="BibleTime " VERSION "" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style type="text/css">
	/* <![CDATA[ */

* { 
	/* To work around a KDE 3.2 bug or problem */
	background-color:inherit;
}

#content {
	background-color:white;
	margin:10px;
}
#content > table {
	margin:0;
	padding:0;
	border-spacing:10px;
	border-collapse: collapse;
	vertical-align:top;
}
#content > table th {
	padding: 0 0 2px 0;
	text-align: center; 
	font-weight: bold;
	font-size: 115%;
	border-bottom: 1px solid #6B6B6B;
}

a {
	text-decoration:none;
	font-weight:normal;
	color: #3B11AE;
	padding:2px;
}
a:hover {
	background-color:#F6FFF7;
	color: #AE1518;
	padding:2px;
}


/* Settings which apply to all entries in all modules */
.entry {
	padding:2px;
	text-align:justify;
}
.entry[dir=rtl] {
	padding:2px;
	text-align:right;
}

div.entry, td.entry {
	vertical-align:top;	
}

.currententry {
	padding:3px;
	vertical-align:top;
	text-align:justify;
}
.currententry[dir=rtl] {
	padding:3px;
	vertical-align:top;
	text-align:right;
}
div.currententry {
}
span.currententry {
	background-color:#D4FFCB;
}


/*Space between the columns of modules displayed side by side*/
td.entry + td.entry { 
	margin-left: 2px;
}

/* Several additional settings for display of modules*/
#bible div.currententry, #bible td.currententry {
	border:1px solid black;
	background-color:#F6FFF7;
}
#bible span.currententry {
	background-color:#C8FFB6;
}

/*Same for books!*/
#book div.currententry, #book td.currententry {
	border:1px solid black;
	background-color:#F6FFF7;
}
#book span.currententry {
	background-color:#C8FFB6;
}


.entryname {
	padding:0 2px;
}
.entryname a, #printer .entryname  {
	font-size:70%;
	vertical-align:top;
}

#printer .entry  .entry, #printer .entry .sectiontitle , #printer .entry .booktitle {
	margin-left:15px;
}

.footnotepre {
	color: gray;
	font-size: 0.9em;
	font-style: italic;
}
.footnote {
	font-size: 0.1em;
	vertical-align:super;
	width:0.5em;
	padding:0px;
	height:0.3em;
	color:yellow;
	background-color:yellow;
	border:1px solid black;
}
.crossreference {
	font-size: 0.1em;
	vertical-align:super;
	width:0.5em;
	padding:0px;
	height:0.3em;
	color:green;
	background-color:green;
	border:1px solid black;
}

.strongnumber {
	vertical-align: top;
	font-size: 50%;
	color: gray;
}
.morphcode {
	vertical-align: top;
	font-size: 60%;
	color: gray;
}
.lemma {
}
.strongnumber:hover, .morphcode:hover {
	color: darkRed;
}

.sectiontitle {
	font-weight: bold;
	font-size: 120%;
}
#printer .sectiontitle {
	font-weight: bold;
	font-size: 100%;
}
* + .sectiontitle {
	margin-top:15px;
}

.booktitle {
	font-weight: bold;
	font-size: 140%;
	font-variant: small-caps;
}
#printer .booktitle {
	font-weight: bold;
	font-size: 120%;
	font-variant: small-caps;
}
.foreign {
}
.jesuswords {
	color:#9C2323;
	font-size:0.9em;
}

.quotation {
}
.poetry {
}
.sup {
	vertical-align: super;
}
.sub {
	vertical-align: sub;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

.bold {
}
.illuminated {
}
.italic {
}
.line-through {
}
.normal {
}
.small-caps{
}
.underline {
}

.inscription {
}
.mentioned {
}
.name > .geographic {
}
.name > .holiday {
}
.name > .nonhuman {
}
.name > .person {
}
.name > .ritual {
}
.name > .divine {
}

.transchange { 
	font-style:italic; 
}
.transchange > .added {
	background-color:inherit;
}
.transchange > .amplified {	
}
.transchange > .changed {	
}
.transchange > .deleted {
}
.transchange > .moved {
}
.transchange > .tenseChange {
}

#infodisplay .footnoteinfo {
}
#infodisplay .footnoteinfo h3, #infodisplay .lemmainfo h3, #infodisplay .morphinfo h3, #infodisplay .translationinfo h3, #infodisplay .crossrefinfo h3 {
	padding:8px 8px 8px 0;
	color:grey;
	font-weight:bold;
	border-bottom:1px solid grey;
}

#infodisplay p {
	margin-left:15px;
	font-size:0.9em;
	color:black;
}

/*Required for cross references*/
#infodisplay .entry {
	padding:1px;
	text-align:justify;
	font-size:0.8em;
	margin-bottom:10px;
}
#infodisplay .entryname {
	padding:2px;
	text-align:left;
	padding-right:5px;
	font-weight:bold;	
	font-size:1.1em;
}

#LANG_CSS#

	/* ]]> */
	</style>
</head>

<body id="#DISPLAYTYPE#">
	<div id="content" lang="#LANG_ABBREV#" xml:lang="#LANG_ABBREV#">#CONTENT#</div>
</body>
</html>