Source: bibletime
Section: kde
Build-Depends: debhelper, kdelibs4-dev
Priority: optional
Maintainer: Daniel Glassey <wdg@debian.org>
Standards-Version: 3.6.1.0

Package: bibletime
Architecture: any
Section: kde
Depends: ${shlibs:Depends}
Recommends: sword-text, sword-dict, sword-comm
Provides: sword-frontend
Description: A bible study tool for KDE
 BibleTime is a free and easy to use bible study tool for UNIX systems.
 It requires a working KDE environment and the SWORD library.
 BibleTime provides easy handling of digitized texts (Bibles, commentaries
 and lexicons) and powerful features to work with these texts (search in
 texts, write own notes, save, print etc.).
